<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>New User</title>
</head>
<body>
    <h1>ADD a New User</h1>
    <a href="/users">Home</a>
    <div class="container">
        <form action="/create_users" method = "POST">
            <label for="fname">First Name:</label>
            <input type="text" name = "first_name">

            <label for="lname">Last Name:</label>
            <input type="text" name = "last_name">

            <label for="email">Email:</label>
            <input type="text" name = "user_email">

            <input type="submit" class="btn btn_primary" value="Create">
        </form>
    </div>
</body>
</html>