<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Read (One)</title>
</head>
<body>
    <div class="container">
        <h1>User {{ user['id'] }}</h1>
        <a href="/users">Home</a>
        <div>
            <p>Full Name:  {{ user['first_name'] + ' ' + user['last_name'] }}  </p>
            <p>Email: {{ user['email'] }}</p>
            <P>Created On: {{ user['created_at'] }}</P>
            <p>Last Updated On: {{ user['updated_at'] }}</p>
            <a href="/users/{{ user['id'] }}/edit">Edit</a> | <a href="/users/{{ user['id'] }}/delete">Delete</a>
        </div>
    </div>
</body>
</html>